html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

body {
    margin: 0;
    font-family: 'Alegreya', serif;
    font-weight: 400;
    background-color: var(--color1);
}

:root {
    --color1: #ffebfc;
    --color2: #000000;
    --themeButton-color: #000000;
    --studentsInfo-color: #ff98ec;
    --studentsInfoText-color: #121212;
    --themeButton-image: url(../img/icons8-яркая-луна-80.png);
    --saveButton-color: #000000;
    color-scheme: light;
}

.dark {
    --color1: #121212;
    --color2: #ff98ec;
    --themeButton-color: #ff98ec;
    --studentsInfo-color: #ffebfc;
    --studentsInfoText-color: #640650;
    --themeButton-image: url(../img/icons8-солнце-64.png);
    --saveButton-color: #ff98ec;
    color-scheme: dark;
}

@media screen and (max-width: 500px) {
    body h1 { 
        font-size: calc(15px + 16 * (100vw / 1280)); 
    } 
    body h2 {
        font-size: calc(6px + 16 * (100vw / 1280));
    }
    body span {
        font-size: calc(4px + 0.78125vw);
    }
    body #themeSelector {
        width: 48px;
        height: 48px;
    }
    body #ShowStudentsInfoButton {
        width: 25vw;
    }
    body #saveEditedOption {
        width: 25vw;
    }
    body input {
        width: 30vw;
    }
    body #dropdownListOptions {
        width: 30vw;
    }
    body .addStudent {
        width: 38px;
        height: 38px;
    }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
    body h1 { 
        font-size: calc(7px + 16 * (100vw / 1280)); 
    }
    body h2 {
        font-size: calc(4px + 0.78125vw);
    }
    body span {
        font-size: calc(2px + 0.78125vw);
    }
    body #themeSelector {
        width: 55px;
        height: 55px;
    }
    body #ShowStudentsInfoButton {
        width: 25vw;
        height: 6vh;
    }
    body .addStudent {
        width: 38px;
        height: 38px;
    }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
    body h1 { 
        font-size: calc(8px + 16 * (100vw / 1280)); 
    }
    body h2 {
        font-size: calc(2.5px + 0.78125vw);
    }
    body span {
        font-size: calc(4px + 0.78125vw);
    }
    body #themeSelector {
        width: 55px;
        height: 55px;
    }
    body .addStudent {
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1600px) {
    body h1 { 
        font-size: calc(12px + 16 * (100vw / 1280)); 
    }
    body h2 {
        font-size: calc(6px + 0.78125vw);
    }
    body span {
        font-size: calc(3px + 0.78125vw);
    }
    body #themeSelector {
        width: 60px;
        height: 60px;
    }
    body .addStudent {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 1600px) {
    body h1 { 
        font-size: calc(13px + 16 * (100vw / 1280)); 
    }
    body h2 {
        font-size: calc(7px + 0.78125vw);
    }
    body span {
        font-size: calc(4.5px + 0.78125vw);
    }
    body #themeSelector {
        width: 90px;
        height: 90px;
    }
    body .addStudent {
        width: 55px;
        height: 55px;
    }
}

.wrapper {
    display: grid;
    grid-template-rows: 10% 10% 30% 25%;;
    margin: auto;
    width: 1728px;
    max-width: 95%;
    height: 100vh;
    background-color: var(--color1);
    align-content: space-evenly;
}

#themeSelector {
    width: 80px;
    height: 80px;
    border: solid medium;
    border-radius: 50%;
    background-color: var(--themeButton-color);
    background-image: var(--themeButton-image);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: var(--color2);
    margin: auto;
    text-transform: uppercase;
    font-size: calc(18px + 16 * (100vw / 1280));
}

#dropdownListOptions {
    width: 25vw;
    height: 5vh;
    margin: 5px;
    border-radius: 15px;
    background-color: var(--color2);
    color: var(--color1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 25vw;
    height: 5vh;
    margin: 5px;
    padding: 2px;
    border-radius: 15px;
    background-color: #fff;
    color: #000;
}

#saveEditedOption {
    width: 10vw;
    height: 5vh;
    margin: 5px;
    border: solid 2px;
    border-radius: 15px;
    background-color: var(--saveButton-color);
    color: var(--color1);
    font-family: 'Alegreya', serif;
    font-size: calc(10px + 0.78125vw);
    font-weight: 500;
}

#containerDropdownList {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    background-color: var(--color1);
    align-items: center;
}

#containerSwitchThemeButton {
    margin: auto;
    background-color: var(--color1);
}

#containerStudentsList {
    display: inline-grid;
    grid-template-rows: 30% 70%;
    text-align: justify;
    line-height: 0.35;
    justify-items: center;
    justify-content: center;
}

#ShowStudentsInfoButton {
    width: 15vw;
    height: 6vh;
    margin: 5px;
    border: solid 2px;
    border-radius: 15px;
    background-color: var(--saveButton-color);
    color: var(--color1);
    font-family: 'Alegreya', serif;
    font-size: calc(10px + 0.78125vw);
    font-weight: 500;
}

#studentsList {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#studentsList li {
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 8px;
    border-radius: 15px;
    background-color: var(--studentsInfo-color);
    opacity: 0.9;
}

#studentsList h2 {
    font-weight: 700;
    color: var(--studentsInfoText-color);
}

#studentsList span {
    font-weight: 500;
    color: var(--studentsInfoText-color); 
}

.addStudent {
    margin: 10px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
    padding: 8px;
    border-color: var(--studentsInfo-color);
    background-color: var(--studentsInfo-color);
    opacity: 0.9;
    font-size: calc(2px + 0.78125vw);
    font-weight: 500;
    color: var(--studentsInfoText-color);

    &:hover {
        background-color: #ff7fe7;
    }
}

.addingStudent {
    flex: 0 1 calc(60% - 10px); 
    border-radius: 15px; 
    font-size: calc(2px + 0.78125vw);
}

.deleteStudent {
    color: var(--studentsInfoText-color);
    opacity: 0.5;
    float: right;
}