html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Alegreya', serif;
    font-weight: 400;
    background-color: var(--color1);
}

:root {
    --color1: #ffebfc;
    --color2: #000000;
    --themeButton-color: #000000;
    --themeButton-image: url(../img/icons8-яркая-луна-80.png);
    --saveButton-color: #000000;
    color-scheme: light;
}

.dark {
    --color1: #121212;
    --color2: #ff98ec;
    --themeButton-color: #ff98ec;
    --themeButton-image: url(../img/icons8-солнце-64.png);
    --saveButton-color: #ff98ec;
    color-scheme: dark;
}

@media screen and (max-width: 500px) {
    body h1 { 
        font-size: calc(10px + 16 * (100vw / 1280)); 
    } 
    body h2 {
        font-size: calc(6px + 16 * (100vw / 1280));
    }
    body span {
        font-size: calc(4px + 0.78125vw);
    }
    body #themeSelector {
        width: 35px;
        height: 35px;
    }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
    body h1 { 
        font-size: calc(12px + 16 * (100vw / 1280)); 
    }
    body h2 {
        font-size: calc(6px + 0.78125vw);
    }
    body span {
        font-size: calc(4px + 0.78125vw);
    }
    body #themeSelector {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
    body h1 { 
        font-size: calc(16px + 16 * (100vw / 1280)); 
    }
    body h2 {
        font-size: calc(6px + 0.78125vw);
    }
    body span {
        font-size: calc(4px + 0.78125vw);
    }
    body #themeSelector {
        width: 55px;
        height: 55px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1600px) {
    body h1 { 
        font-size: calc(18px + 16 * (100vw / 1280)); 
    }
    body h2 {
        font-size: calc(6px + 0.78125vw);
    }
    body span {
        font-size: calc(4px + 0.78125vw);
    }
    body #themeSelector {
        width: 60px;
        height: 60px;
    }
}

@media screen and (min-width: 1600px) {
    body h1 { 
        font-size: calc(20px + 16 * (100vw / 1280)); 
    }
    body h2 {
        font-size: calc(6px + 0.78125vw);
    }
    body span {
        font-size: calc(4px + 0.78125vw);
    }
    body #themeSelector {
        width: 90px;
        height: 90px;
    }
}

.wrapper {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 1728px;
    max-width: 100%;
    height: 100vh;
    background-color: var(--color1);
    align-content: space-around;
}

#themeSelector {
    width: 80px;
    height: 80px;
    border: solid medium;
    border-radius: 50%;
    background-color: var(--themeButton-color);
    background-image: var(--themeButton-image);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

h1 {
    color: var(--color2);
    margin: auto;
    text-transform: uppercase;
    font-size: calc(18px + 16 * (100vw / 1280));
}